Repository Eyevinn/intercom-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --fix"],
  "*.{json,css,scss,md}": ["prettier --write"]
}

feat(ui): rename Line/Lines to Call/Calls in calls page (#620)
  e2e/page-objects/calls-page.po.ts
  e2e/tests/calls-page.spec.ts
  e2e/tests/landing-page.spec.ts
  e2e/tests/share-and-modals.spec.ts
  src/App.tsx
  src/components/calls-page/calls-page.tsx
  src/components/calls-page/header-actions.tsx
  src/components/calls-page/use-calls-navigation.test.ts
  src/components/generate-urls/share-line-link/share-line-link-modal.tsx
  src/components/landing-page/join-production.tsx
  src/components/production-line/exit-call-button.tsx
  src/components/production-line/settings-modal.tsx
  src/utils/call-url.test.ts
  src/utils/call-url.ts
Due: prettier --write, eslint --fix

fix: update vitest to 4.1.10 to fix critical CVE (CVSS 9.8)
  package-lock.json
  package.json
Due: prettier --write

fix: update vitest to 4.1.10 to fix critical CVE (CVSS 9.8) (#654)
  package-lock.json
  package.json
Due: prettier --write

feat: add bridge page
  src/api/api.ts
  src/assets/icons/delete.svg
  src/assets/icons/icon.tsx
  src/assets/icons/play.svg
  src/assets/icons/stop.svg
  src/components/io-bridge-page/add-receiver-modal/add-receiver-form.tsx
  src/components/io-bridge-page/add-transmitter-modal/add-transmitter-form.tsx
  src/components/io-bridge-page/io-bridge-components.tsx
  src/components/io-bridge-page/io-bridge-expanded-content.tsx
  src/components/io-bridge-page/io-bridge-page.tsx
  src/components/io-bridge-page/io-bridge-props-list.tsx
  src/components/io-bridge-page/receiver-expanded-content.tsx
  src/components/io-bridge-page/receiver-item.tsx
  src/components/io-bridge-page/transmitter-expanded-content.tsx
  src/components/io-bridge-page/transmitter-item.tsx
  src/components/tabs/tabs.tsx
  src/hooks/use-bridge-config.tsx
  src/hooks/use-create-receiver.tsx
  src/hooks/use-create-transmitter.tsx
  src/hooks/use-delete-receiver.tsx
  src/hooks/use-delete-transmitter.tsx
  src/hooks/use-edit-receiver.tsx
  src/hooks/use-edit-transmitter.tsx
  src/hooks/use-fetch-transmitter.tsx
  src/hooks/use-receiver-list.tsx
  src/hooks/use-transmitter-list copy.tsx
  src/hooks/use-transmitter-list.tsx
  src/hooks/use-update-receiver.tsx
  src/hooks/use-update-transmitter.tsx
Due: prettier --write, eslint --fix

chore: io bridge
  src/App.tsx
  src/components/delete-button/delete-button-components.ts
  src/components/io-bridge-page/add-transmitter-modal/add-transmitter-form.tsx
  src/components/io-bridge-page/transmitter-expanded-content.tsx
  src/components/landing-page/productions-list-container.tsx
Due: prettier --write, eslint --fix

chore: update readme
  README.md
Due: prettier --write

fix: prettier fix
  src/App.tsx
  src/components/io-bridge-page/transmitter-expanded-content.tsx
Due: prettier --write, eslint --fix

chore: fix lint test fail
  src/components/io-bridge-page/add-transmitter-modal/add-transmitter-form.tsx
  src/components/io-bridge-page/transmitter-expanded-content.tsx
Due: prettier --write, eslint --fix

feat(auth): add Keycloak OIDC login behind a feature flag
  .env.local.sample
  docs/oidc.md
  package-lock.json
  package.json
  src/api/api.ts
  src/auth/access-token.test.ts
  src/auth/access-token.ts
  src/auth/auth-provider.tsx
  src/auth/oidc-settings.test.ts
  src/auth/oidc-settings.ts
  src/auth/require-auth.test.tsx
  src/auth/require-auth.tsx
  src/auth/user-menu.tsx
  src/components/header.tsx
  src/main.tsx
  src/vite-env.d.ts
Due: prettier --write, eslint --fix

fix: remove duplicate file
  src/hooks/use-transmitter-list copy.tsx
Due: prettier --write, eslint --fix

ci: build and push image to GHCR
  .github/workflows/docker-build.yml
Due: none

fix(reauth): stop reauth retries and hourly refresh on 405
  src/hooks/use-reauth.test.tsx
  src/hooks/use-reauth.tsx
Due: prettier --write, eslint --fix

fix(reauth): stop reauth retries and hourly refresh on 405 (#669)
  src/hooks/use-reauth.test.tsx
  src/hooks/use-reauth.tsx
Due: prettier --write, eslint --fix

chore: release 4.1.0
  package-lock.json
  package.json
Due: prettier --write

chore: release 4.1.0 (#670)
  package-lock.json
  package.json
Due: prettier --write

security: add HSTS header to nginx config
  nginx/nginx.conf
Due: none

fix: guard VITE_BACKEND_URL fallback to prevent module-load crash
  src/api/api.test.ts
  src/api/api.ts
Due: prettier --write, eslint --fix

fix: guard VITE_BACKEND_URL fallback to prevent module-load crash (#675)
  src/api/api.test.ts
  src/api/api.ts
Due: prettier --write, eslint --fix

security: add HSTS header to nginx config (#674)
  nginx/nginx.conf
Due: none

fix(security): update picomatch to patched version (ReDoS/method injection)
  package-lock.json
Due: prettier --write

fix(security): update react-router to patched v7 (XSS/RCE advisories)
  package-lock.json
  package.json
Due: prettier --write

fix(security): pin ws to >=8.20.2 (DoS/memory disclosure)
  package-lock.json
  package.json
Due: prettier --write

fix(security): add X-Content-Type-Options and Referrer-Policy headers
  nginx/nginx.conf
Due: none

fix(security): run frontend nginx container as non-root user
  Dockerfile
Due: none

fix(security): update fast-uri, ajv, postcss to patched versions
  package-lock.json
Due: prettier --write

fix: initial clean up
  e2e/tests/create-production.spec.ts
  src/assets/icons/fullscreen.svg
  src/assets/icons/fullscreen_exit.svg
  src/assets/icons/icon.tsx
  src/components/production-line/production-line.tsx
  src/components/production-line/return-feed-tile.tsx
  src/components/production-line/select-devices.tsx
  src/components/production-line/self-preview-tile.tsx
  src/components/production-line/use-line-polling.ts
  src/components/production-line/use-rtc-connection.ts
  src/components/production-line/use-video-source-pin.ts
  src/components/production-line/use-video-tile-grid.ts
  src/components/production-line/video-element-factory.ts
  src/components/production-line/video-options-modal.tsx
  src/global-state/global-state-reducer.ts
  src/hooks/use-initiate-production-call.tsx
Due: prettier --write, eslint --fix

fix: prevent username descenders from being clipped in participant list
  src/components/production-line/user-list.tsx
Due: prettier --write, eslint --fix

fix: prevent username descenders from being clipped in participant list (#686)
  src/components/production-line/user-list.tsx
Due: prettier --write, eslint --fix

fix(deps): bump postcss to >=8.5.23 to fix XSS vulnerability
  package-lock.json
  package.json
Due: prettier --write

fix(deps): bump fast-uri to >=3.1.2 to fix path traversal vulnerability
  package-lock.json
  package.json
Due: prettier --write

feat: use long-poll endpoint for line participants
  src/api/api.ts
  src/components/production-line/use-line-polling.ts
Due: prettier --write, eslint --fix

fix(security): run frontend nginx container as non-root user (#683)
  Dockerfile
Due: none

fix(security): add X-Content-Type-Options and Referrer-Policy headers (#682)
  nginx/nginx.conf
Due: none

fix(security): update react-router to patched v7 (CVEs) (#680)
  package-lock.json
  package.json
Due: prettier --write

fix(deps): bump fast-uri to >=3.1.2 (path traversal fix, closes #644) (#689)
  package-lock.json
  package.json
Due: prettier --write

fix(security): pin ws to >=8.20.2 (DoS/memory disclosure) (#681)
  package.json
Due: prettier --write

fix(deps): bump postcss to >=8.5.23 (XSS fix, closes #663) (#687)
  package-lock.json
  package.json
Due: prettier --write

fix(deps): bump ajv to >=6.14.0 to fix ReDoS vulnerability
  package-lock.json
  package.json
Due: prettier --write

fix(deps): bump ajv to >=6.14.0 (ReDoS fix, closes #645) (#688)
  package-lock.json
  package.json
Due: prettier --write
