Repository Eyevinn/intercom-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --fix"],
  "*.{json,css,scss,md}": ["prettier --write"]
}

fix: rename bridge config to transmitters/receivers
  src/api/api.ts
  src/components/io-bridge-page/io-bridge-page.tsx
  src/components/landing-page/productions-list-container.tsx
  src/hooks/use-bridge-config.tsx
Due: prettier --write, eslint --fix

fix: fixes
  src/api/api.ts
  src/components/io-bridge-page/add-transmitter-modal/add-transmitter-form.tsx
  src/components/io-bridge-page/io-bridge-page.tsx
  src/hooks/use-bridge-config.tsx
Due: prettier --write, eslint --fix

feat: limit ui access to external users
  src/App.tsx
  src/components/auth/require-non-guest.test.tsx
  src/components/auth/require-non-guest.tsx
  src/components/calls-page/calls-page.tsx
  src/components/calls-page/header-actions.tsx
  src/components/generate-urls/share-line-link/share-line-link-modal.tsx
  src/components/header.tsx
  src/components/production-line/call-header.tsx
  src/components/production-line/kebab-menu.test.tsx
  src/components/production-line/kebab-menu.tsx
  src/components/production-list/copy-link.tsx
  src/components/share-url-modal/share-url-modal.tsx
  src/hooks/use-is-guest.test.ts
  src/hooks/use-is-guest.ts
  src/hooks/use-share-url.test.tsx
  src/hooks/use-share-url.tsx
  src/main.tsx
  src/utils/guest-session.test.ts
  src/utils/guest-session.ts
Due: prettier --write, eslint --fix

fixup!
  src/components/generate-urls/share-line-link/share-line-link-modal.test.tsx
  src/components/generate-urls/share-line-link/share-line-link-modal.tsx
  src/components/production-line/call-header.tsx
  src/components/production-line/kebab-menu.tsx
  src/components/production-list/copy-link.tsx
  src/components/share-url-modal/share-url-modal.tsx
  src/utils/guest-session.ts
Due: prettier --write, eslint --fix

fix: Validate companion host before WebSocket URL construction
  src/utils/call-url.ts
Due: prettier --write, eslint --fix

fix: move isValidCompanionHost before use and satisfy prettier
  src/utils/call-url.ts
Due: prettier --write, eslint --fix

fix: in call bridge control
  src/api/api.ts
  src/components/production-line/bridge-controls.tsx
  src/components/production-line/production-line.tsx
  src/hooks/use-line-bridges.ts
  src/hooks/use-line-inputs.ts
  src/hooks/use-line-outputs.ts
Due: prettier --write, eslint --fix

test: reject unsafe companion host inputs
  _pr_meta.json
  src/utils/call-url.test.ts
Due: prettier --write, eslint --fix

fix(security): align nginx CSP connect-src/img-src with app WebSocket + data-URI needs (#624)
  nginx/nginx.conf
Due: none

test: add regression tests for companion host validation (#627)
  src/utils/call-url.test.ts
Due: prettier --write, eslint --fix

fix: stop camera tracks and clear frame monitors on call exit (#692)
  src/components/production-line/production-line.tsx
  src/components/production-line/use-video-elements.test.ts
  src/components/production-line/use-video-elements.ts
  src/components/production-line/use-video-input.test.ts
Due: prettier --write, eslint --fix

fix(security): add CSP and X-Frame-Options headers to nginx.conf (#685)
  nginx/nginx.conf
Due: none

feat: redirect to AUTH login URL on 401 from manager
  .env.local.sample
  README.md
  scripts/entrypoint.sh
  src/api/handle-fetch-request.ts
  src/api/redirect-on-auth-failure.test.ts
  src/api/redirect-on-auth-failure.ts
  src/vite-env.d.ts
  vite.config.ts
Due: prettier --write, eslint --fix

style: prettier companion host validation helpers
  _pr_meta.json
Due: prettier --write

fix: ui improvements
  package-lock.json
  package.json
  src/components/landing-page/presets-list.tsx
  src/components/landing-page/productions-list-container.tsx
  src/components/landing-page/sortable-preset-card.tsx
  src/components/manage-productions-page/manage-presets-list.tsx
  src/components/manage-productions-page/manage-productions-page.tsx
  src/components/production-list/production-list-item.tsx
  src/components/production-list/productions-list.tsx
  src/components/production-list/sortable-production-list-item.tsx
  src/components/shared/shared-components.ts
  src/utils/sort-by-name.test.ts
  src/utils/sort-by-name.ts
Due: prettier --write, eslint --fix

fixup!
  e2e/tests/responsive.spec.ts
Due: prettier --write, eslint --fix

fixup!
  playwright.tmp.config.ts
  src/components/landing-page/presets-list.tsx
  src/components/landing-page/sortable-preset-card.tsx
  src/components/manage-productions-page/manage-presets-list.tsx
  src/components/shared/collapsible-item.tsx
  src/components/shared/shared-components.ts
Due: prettier --write, eslint --fix

fixup!
  playwright.tmp.config.ts
Due: prettier --write, eslint --fix

fix: restore speaking indicator when speaker muted on Chromium (#413)
  src/components/production-line/rtc-stat-interval.test.ts
  src/components/production-line/rtc-stat-interval.ts
  src/components/production-line/use-rtc-connection.ts
Due: prettier --write, eslint --fix

feat: limit ui access to external users (#693)
  src/App.tsx
  src/components/auth/require-non-guest.test.tsx
  src/components/auth/require-non-guest.tsx
  src/components/calls-page/calls-page.tsx
  src/components/calls-page/header-actions.tsx
  src/components/generate-urls/share-line-link/share-line-link-modal.test.tsx
  src/components/generate-urls/share-line-link/share-line-link-modal.tsx
  src/components/header.tsx
  src/components/production-line/call-header.tsx
  src/components/production-line/kebab-menu.test.tsx
  src/components/production-line/kebab-menu.tsx
  src/components/production-list/copy-link.tsx
  src/components/share-url-modal/share-url-modal.tsx
  src/hooks/use-is-guest.test.ts
  src/hooks/use-is-guest.ts
  src/hooks/use-share-url.test.tsx
  src/hooks/use-share-url.tsx
  src/main.tsx
  src/utils/guest-session.test.ts
  src/utils/guest-session.ts
Due: prettier --write, eslint --fix

fix: remove invalid EXPOSE $MANAGER_URL from Dockerfile
  Dockerfile
Due: none

fix(companion): ignore push-to-talk actions on program lines
  src/hooks/use-call-action-handlers.test.ts
  src/hooks/use-call-action-handlers.ts
Due: prettier --write, eslint --fix

fix: handle 404/405 from re-auth endpoint when no OSC token set
  src/hooks/use-reauth.test.tsx
  src/hooks/use-reauth.tsx
Due: prettier --write, eslint --fix

fix(readme): update OSC deploy badge with UTM tracking and ?create=1
  README.md
Due: prettier --write

fix(readme): update OSC deploy badge with UTM tracking and ?create=1 (#702)
  README.md
Due: prettier --write

fix(auth): scope AUTH env, order reauth before redirect, tighten loop guard (#166)
  .env.local.sample
  README.md
  src/api/handle-fetch-request.ts
  src/api/redirect-on-auth-failure.test.ts
  src/api/redirect-on-auth-failure.ts
  src/components/landing-page/use-fetch-production-list.ts
  src/hooks/use-reauth.tsx
  vite.config.ts
Due: prettier --write, eslint --fix

fix(rtc-stat-interval): resume suspended AudioContext and add muted-speaker regression test (#413)
  src/components/production-line/rtc-stat-interval.test.ts
  src/components/production-line/rtc-stat-interval.ts
Due: prettier --write, eslint --fix

fix(line-polling): add failure backoff and hook tests (#30)
  src/components/production-line/use-line-polling.test.ts
  src/components/production-line/use-line-polling.ts
Due: prettier --write, eslint --fix

fixup!
  src/components/landing-page/presets-list.tsx
  src/components/landing-page/productions-list-container.tsx
  src/components/production-list/productions-list.tsx
  src/utils/list-order.test.ts
  src/utils/list-order.ts
Due: prettier --write, eslint --fix

chore: upgrade
  package-lock.json
  package.json
Due: prettier --write

fix(deps): align react-dom with react
  package-lock.json
  package.json
Due: prettier --write

fix(deps): align react-dom with react (#705)
  package-lock.json
  package.json
Due: prettier --write

fix(security): update picomatch to patched versions (ReDoS/method injection) (#641)
  package-lock.json
Due: prettier --write

ci: sync OSC fork automatically on merge to main
  .github/workflows/sync-fork-on-merge.yml
  .github/workflows/sync-fork.yml
Due: none

ci: sync OSC fork automatically on merge to main (#706)
  .github/workflows/sync-fork-on-merge.yml
  .github/workflows/sync-fork.yml
Due: none

chore: remove _pr_meta.json tooling artifact
  .gitignore
  _pr_meta.json
Due: prettier --write
