Repository Eyevinn/intercom-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

fix: send correct state to companion despite audio feed line (#536)
  src/hooks/use-call-list.ts
Due: prettier --write, eslint --fix

fix: send issomeonespeaking indicator over ws
  src/components/production-line/production-line.tsx
  src/hooks/use-call-list.ts
Due: prettier --write, eslint --fix

fix: send isSomeoneSpeaking indicator over ws (#551)
  src/components/production-line/production-line.tsx
  src/hooks/use-call-list.ts
Due: prettier --write, eslint --fix

Two lines same name in the same production (#546)
  src/components/create-production/create-production-buttons.tsx
  src/components/create-production/create-production-page.tsx
  src/components/production-list/manage-production-buttons.tsx
  src/components/shared/edit-name-form.tsx
  src/hooks/use-has-duplicate-line-name.ts
Due: prettier --write, eslint --fix

fix: duplicate session creation when joining a call (#548)
  src/components/production-line/use-establish-session.ts
Due: prettier --write, eslint --fix

feat: add get whep url button (#542)
  src/components/generate-urls/generate-whep-url/generate-whep-url-button.tsx
  src/components/generate-urls/generate-whep-url/generate-whep-url-modal.tsx
  src/components/production-line/production-line.tsx
  src/utils/generateWhepUrl.ts
Due: prettier --write, eslint --fix

fix: proposed solution for stopping polling after 401
  src/components/production-line/use-line-polling.ts
Due: prettier --write, eslint --fix

fix: if error, stop heartbeat after 3 retries
  src/components/production-line/use-heartbeat.ts
  src/components/production-line/use-line-polling.ts
Due: prettier --write, eslint --fix

fix: added 401 code check and stop polling for heartbeat
  src/components/production-line/use-heartbeat.ts
  src/components/production-line/use-line-polling.ts
  src/global-state/global-state-actions.ts
Due: prettier --write, eslint --fix

chore: update node version in github wf
  .github/workflows/run-prettier.yml
  .github/workflows/run-typescript.yml
Due: none

3.5.0
  package-lock.json
  package.json
Due: prettier --write

fix: stop polling only for 401s
  src/components/production-line/use-heartbeat.ts
  src/components/production-line/use-line-polling.ts
Due: prettier --write, eslint --fix

fix: resolving linting issues
  src/components/production-line/use-heartbeat.ts
Due: prettier --write, eslint --fix

chore: added timer to create production message
  src/components/create-production/create-production-page.tsx
Due: prettier --write, eslint --fix

chore: fix prettier issue
  src/components/form-elements/form-elements.ts
Due: prettier --write, eslint --fix

feat: combined input for username and urls
  src/components/generate-urls/generate-urls-components.ts
  src/components/generate-urls/generate-whep-url/generate-whep-url-modal.tsx
  src/components/generate-urls/generate-whip-url/generate-whip-url-modal.tsx
Due: prettier --write, eslint --fix

fix: add space between url and username
  src/components/generate-urls/generate-urls-components.ts
Due: prettier --write, eslint --fix

feat: combined input for username and urls (#563)
  src/components/generate-urls/generate-urls-components.ts
  src/components/generate-urls/generate-whep-url/generate-whep-url-modal.tsx
  src/components/generate-urls/generate-whip-url/generate-whip-url-modal.tsx
Due: prettier --write, eslint --fix

fix: stop heartbeat and line polling on 401 (#557)
  src/components/production-line/use-heartbeat.ts
  src/components/production-line/use-line-polling.ts
  src/global-state/global-state-actions.ts
Due: prettier --write, eslint --fix

chore: added timer to create production message (#558)
  src/components/create-production/create-production-page.tsx
Due: prettier --write, eslint --fix

fix: need version 22 of node
  Dockerfile
Due: none

chore: fix build errors
  src/components/display-box.tsx
  src/hooks/use-outside-click-handler.tsx
  src/hooks/use-reauth.tsx
Due: prettier --write, eslint --fix

fix: test fail
  src/hooks/use-outside-click-handler.tsx
Due: prettier --write, eslint --fix

fix: build error
  package-lock.json
  package.json
  yarn.lock
Due: prettier --write

test: build test fail solve
  package-lock.json
Due: prettier --write

test: build error fail
  package.json
  src/App.tsx
  yarn.lock
Due: prettier --write, eslint --fix

3.6.0
  package-lock.json
  package.json
Due: prettier --write

fix: reverse ordering of calls
  src/components/calls-page/calls-page.tsx
  src/components/calls-page/production-lines.tsx
Due: prettier --write, eslint --fix

fix: reauth called when entering app
  src/hooks/use-reauth.tsx
Due: prettier --write, eslint --fix

chore: prettier
  src/hooks/use-reauth.tsx
Due: prettier --write, eslint --fix

fix: reauth called when entering app (#578)
  src/hooks/use-reauth.tsx
Due: prettier --write, eslint --fix

feat: add SR client registry UI, P2P calls, and status indicators
  src/App.tsx
  src/api/api.ts
  src/api/auth.ts
  src/components/client-registry/client-list.tsx
  src/components/client-registry/registration-page.tsx
  src/components/client-registry/types.ts
  src/components/p2p-calls/active-calls-panel.tsx
  src/global-state/global-state-actions.ts
  src/global-state/global-state-reducer.ts
  src/global-state/types.ts
  src/hooks/use-p2p-calls.ts
  src/hooks/use-push-to-talk.ts
  src/hooks/use-status-websocket.ts
  vite.config.ts
Due: prettier --write, eslint --fix

chore: remove SR references, rename to Intercom 2
  src/api/api.ts
  src/api/auth.ts
Due: prettier --write, eslint --fix

fix: add start script for OSC deployment
  package.json
Due: prettier --write

fix: use port 8080 for OSC web runner compatibility
  package.json
Due: prettier --write

fix: prevent concurrent handleIncomingCall invocations
  src/components/p2p-calls/active-calls-panel.tsx
Due: prettier --write, eslint --fix

feat: update ui components and p2p call handling
  package-lock.json
  src/components/calls-page/calls-page.tsx
  src/components/generic-components.ts
  src/components/landing-page/productions-list-container.tsx
  src/components/p2p-calls/active-calls-panel.tsx
  src/components/page-layout/page-header.tsx
  src/components/production-line/long-press-to-talk-button.tsx
  src/components/production-line/production-line-components.ts
  src/components/production-line/production-line.tsx
  src/components/production-list/productions-list.tsx
  src/components/shared/shared-components.ts
  src/global-state/global-state-actions.ts
  src/global-state/global-state-reducer.ts
  src/hooks/use-p2p-calls.ts
  src/hooks/use-push-to-talk.ts
  yarn.lock
Due: prettier --write, eslint --fix

fix: improve error-handling
  src/api/handle-fetch-request.ts
  src/components/production-line/use-line-polling.ts
  src/hooks/use-reauth.tsx
Due: prettier --write, eslint --fix

fix: prettier
  src/api/handle-fetch-request.ts
  src/components/client-registry/client-list.tsx
  src/components/client-registry/registration-page.tsx
  src/components/p2p-calls/active-calls-panel.tsx
  src/global-state/global-state-reducer.ts
  src/hooks/use-p2p-calls.ts
  src/hooks/use-push-to-talk.ts
  src/hooks/use-status-websocket.ts
Due: prettier --write, eslint --fix

fix: audio element playsInline
  src/hooks/use-p2p-calls.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,css,scss,md})
  eslint --fix: any of: *.{js,jsx,ts,tsx}
