Repository Eyevinn/intercom-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --fix"],
  "*.{json,css,scss,md}": ["prettier --write"]
}

Global mute button changes size (#525)
  src/components/calls-page/header-actions.tsx
Due: prettier --write, eslint --fix

fix: output option in safari removed (#523)
  src/components/production-line/select-devices.tsx
  src/components/reload-devices-button.tsx/reload-devices-button.tsx
  src/components/user-settings-form/user-settings-form.tsx
Due: prettier --write, eslint --fix

fix: changes in modal component reverted
  src/components/modal/modal.tsx
Due: prettier --write, eslint --fix

fix: save button is not clickable if there ara no changes on production and line names
  src/components/shared/edit-name-form.tsx
Due: prettier --write, eslint --fix

chore: release notes generation
  .github/CODEOWNERS
  .github/workflows/release-notes.yml
Due: none

fix: changed logo from intercom to open intercom
  src/components/header.tsx
Due: prettier --write, eslint --fix

fix: ran prettier formatting
  .github/workflows/release-notes.yml
Due: none

chore: changed title name to open intercom from intercom
  index.html
Due: none

3.4.0
  package-lock.json
  package.json
Due: prettier --write

chore: do not treat script as es module
  .github/workflows/release-notes.yml
Due: none

fix: send correct state to companion if in audio feed line
  src/hooks/use-call-list.ts
Due: prettier --write, eslint --fix

fix: prettier formatting
  .github/workflows/release-notes.yml
Due: none

chore: add cursor pointer to clickable elements
  src/components/form-elements/form-elements.ts
  src/components/volume-slider/volume-slider.tsx
Due: prettier --write, eslint --fix

fix: yarn pretty
  .github/workflows/release-notes.yml
Due: none

UI improvements (#526)
  src/components/copy-button/copy-components.ts
  src/components/form-elements/form-elements.ts
  src/components/modal/modal.tsx
  src/components/production-list/production-list-components.ts
  src/components/shared/edit-name-form.tsx
  src/components/shared/shared-components.ts
Due: prettier --write, eslint --fix

fix: do not fully grow maximal width for shorter names
  src/components/production-list/production-list-components.ts
Due: prettier --write, eslint --fix

fix: do not use full name container width when managing productions
  src/components/shared/shared-components.ts
Due: prettier --write, eslint --fix

chore: run prettier
  .github/workflows/release-notes.yml
Due: none

feat: initial commit
  src/App.tsx
  src/api/api.ts
  src/assets/icons/icon.tsx
  src/assets/icons/play.svg
  src/assets/icons/stop.svg
  src/components/delete-button/delete-button-components.ts
  src/components/io-bridge-page/add-receiver-modal/add-receiver-form.tsx
  src/components/io-bridge-page/add-transmitter-modal/add-transmitter-form.tsx
  src/components/io-bridge-page/io-bridge-components.tsx
  src/components/io-bridge-page/io-bridge-page.tsx
  src/components/io-bridge-page/receiver-expanded-content.tsx
  src/components/io-bridge-page/receiver-item.tsx
  src/components/io-bridge-page/transmitter-expanded-content.tsx
  src/components/io-bridge-page/transmitter-item.tsx
  src/components/landing-page/productions-list-container.tsx
  src/hooks/use-bridge-config.tsx
  src/hooks/use-create-receiver.tsx
  src/hooks/use-create-transmitter.tsx
  src/hooks/use-delete-receiver.tsx
  src/hooks/use-delete-transmitter.tsx
  src/hooks/use-edit-receiver.tsx
  src/hooks/use-edit-transmitter.tsx
  src/hooks/use-fetch-transmitter.tsx
  src/hooks/use-receiver-list.tsx
  src/hooks/use-transmitter-list.tsx
  src/hooks/use-update-receiver.tsx
  src/hooks/use-update-transmitter.tsx
Due: prettier --write, eslint --fix

feat: add whep url button and minor change to whip (capital letters)
  src/components/generate-urls/generate-whep-url/generate-whep-url-button.tsx
  src/components/generate-urls/generate-whep-url/generate-whep-url-modal.tsx
  src/components/production-line/production-line.tsx
  src/utils/generateWhepUrl.ts
Due: prettier --write, eslint --fix

chore: prettier
  src/components/io-bridge-page/add-receiver-modal/add-receiver-form.tsx
  src/components/io-bridge-page/io-bridge-page.tsx
  src/components/io-bridge-page/receiver-expanded-content.tsx
  src/components/io-bridge-page/transmitter-expanded-content.tsx
  src/hooks/use-update-receiver.tsx
  src/hooks/use-update-transmitter.tsx
Due: prettier --write, eslint --fix

chore: prettier
  .github/workflows/release-notes.yml
  src/components/form-elements/form-elements.ts
Due: prettier --write, eslint --fix

chore: prettier
  src/components/form-elements/form-elements.ts
Due: prettier --write, eslint --fix

chore: prettier (#544)
  .github/workflows/release-notes.yml
Due: none

fix: show bridge I/O button conditional
  src/components/landing-page/productions-list-container.tsx
Due: prettier --write, eslint --fix

fix: remove special handling of isTalking if whip is present
  src/components/production-line/production-line.tsx
  src/components/production-line/user-list.tsx
Due: prettier --write, eslint --fix

fix: no duplicate line names in same production
  src/components/create-production/create-production-buttons.tsx
  src/components/create-production/create-production-page.tsx
  src/components/production-list/manage-production-buttons.tsx
  src/components/shared/edit-name-form.tsx
Due: prettier --write, eslint --fix

refactor: simplify duplicate detection
  src/components/create-production/create-production-page.tsx
Due: prettier --write, eslint --fix

fix: do not use full width for production names (#541)
  src/components/production-list/production-list-components.ts
  src/components/shared/shared-components.ts
Due: prettier --write, eslint --fix

chore: add cursor pointer to clickable elements (#538)
  src/components/form-elements/form-elements.ts
  src/components/volume-slider/volume-slider.tsx
Due: prettier --write, eslint --fix

chore: changed logo from intercom to open intercom (#532)
  index.html
  src/components/header.tsx
Due: prettier --write, eslint --fix

fix: index tx on id
  src/api/api.ts
  src/components/io-bridge-page/add-transmitter-modal/add-transmitter-form.tsx
  src/components/io-bridge-page/transmitter-expanded-content.tsx
  src/components/io-bridge-page/transmitter-item.tsx
  src/hooks/use-delete-transmitter.tsx
  src/hooks/use-edit-transmitter.tsx
  src/hooks/use-fetch-transmitter.tsx
Due: prettier --write, eslint --fix

chore: pretty
  src/components/io-bridge-page/transmitter-expanded-content.tsx
  src/components/io-bridge-page/transmitter-item.tsx
Due: prettier --write, eslint --fix

fix: refactor duplicate line into shared hook
  src/components/create-production/create-production-page.tsx
  src/components/production-list/manage-production-buttons.tsx
  src/hooks/use-has-duplicate-line-name.ts
Due: prettier --write, eslint --fix

fix: only joining a call once
  src/components/production-line/use-establish-session.ts
Due: prettier --write, eslint --fix

fix: refactor into functions
  src/components/production-list/manage-production-buttons.tsx
  src/components/shared/edit-name-form.tsx
Due: prettier --write, eslint --fix

fix: reuse line validation hook in forms
  src/components/production-list/manage-production-buttons.tsx
  src/components/shared/edit-name-form.tsx
Due: prettier --write, eslint --fix

fix: stop heartbeat when receiving 401
  src/components/production-line/use-heartbeat.ts
Due: prettier --write, eslint --fix

fix: extract line name validation
  src/components/create-production/create-production-page.tsx
  src/components/shared/edit-name-form.tsx
Due: prettier --write, eslint --fix

fix: better error catching gaurds
  src/components/production-line/use-heartbeat.ts
Due: prettier --write, eslint --fix
