Repository Eyevinn/intercom-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --fix"],
  "*.{json,css,scss,md}": ["prettier --write"]
}

test: reject unsafe companion host inputs
  _pr_meta.json
  src/utils/call-url.test.ts
Due: prettier --write, eslint --fix

fixup!
  src/components/landing-page/presets-list.tsx
  src/components/landing-page/productions-list-container.tsx
  src/hooks/use-ordered-list.test.ts
  src/hooks/use-ordered-list.ts
  src/utils/list-order.test.ts
  src/utils/list-order.ts
Due: prettier --write, eslint --fix

feat: redirect to AUTH login URL on 401 from manager (#695)
  .env.local.sample
  README.md
  scripts/entrypoint.sh
  src/api/redirect-on-auth-failure.test.ts
  src/api/redirect-on-auth-failure.ts
  src/components/landing-page/use-fetch-production-list.ts
  src/hooks/use-reauth.tsx
  src/vite-env.d.ts
  vite.config.ts
Due: prettier --write, eslint --fix

feat: use long-poll endpoint for line participants (#691)
  src/api/api.ts
  src/components/production-line/use-line-polling.test.ts
  src/components/production-line/use-line-polling.ts
Due: prettier --write, eslint --fix

feat: ignore Companion push-to-talk actions on program lines (#700)
  src/hooks/use-call-action-handlers.test.ts
  src/hooks/use-call-action-handlers.ts
Due: prettier --write, eslint --fix

fix: restore speaking indicator when speaker muted on Chromium (#413) (#698)
  src/components/production-line/rtc-stat-interval.test.ts
  src/components/production-line/rtc-stat-interval.ts
  src/components/production-line/use-rtc-connection.ts
Due: prettier --write, eslint --fix

fix(security): patch picomatch ReDoS/method injection (#679)
  package-lock.json
Due: prettier --write

fix: remove invalid EXPOSE $MANAGER_URL from Dockerfile (#699)
  Dockerfile
Due: none

fix: handle 404/405 from re-auth endpoint when no OSC token set (#701)
  src/hooks/use-reauth.test.tsx
  src/hooks/use-reauth.tsx
Due: prettier --write, eslint --fix

feat: ui improvements (#696)
  e2e/tests/responsive.spec.ts
  package-lock.json
  package.json
  src/components/landing-page/presets-list.tsx
  src/components/landing-page/productions-list-container.tsx
  src/components/landing-page/sortable-preset-card.tsx
  src/components/manage-productions-page/manage-presets-list.tsx
  src/components/manage-productions-page/manage-productions-page.tsx
  src/components/production-list/production-list-item.tsx
  src/components/production-list/productions-list.tsx
  src/components/production-list/sortable-production-list-item.tsx
  src/components/shared/collapsible-item.tsx
  src/components/shared/shared-components.ts
  src/hooks/use-ordered-list.test.ts
  src/hooks/use-ordered-list.ts
  src/utils/list-order.test.ts
  src/utils/list-order.ts
  src/utils/sort-by-name.test.ts
  src/utils/sort-by-name.ts
Due: prettier --write, eslint --fix

fix: Validate companion host before WebSocket URL construction (#671)
  .gitignore
  src/utils/call-url.test.ts
  src/utils/call-url.ts
Due: prettier --write, eslint --fix

fix(calls): use wss:// for companion WebSocket on https pages
  src/components/calls-page/connect-to-ws-modal.tsx
  src/components/calls-page/save-preset-modal.tsx
  src/utils/call-url.test.ts
  src/utils/call-url.ts
Due: prettier --write, eslint --fix

fix: use wss:// for companion WebSocket on https pages (#707)
  src/components/calls-page/connect-to-ws-modal.tsx
  src/components/calls-page/save-preset-modal.tsx
  src/utils/call-url.test.ts
  src/utils/call-url.ts
Due: prettier --write, eslint --fix

feat: add exponential backoff with jitter to polling loops
  src/components/production-line/use-heartbeat.test.ts
  src/components/production-line/use-heartbeat.ts
  src/components/production-line/use-line-polling.test.ts
  src/components/production-line/use-line-polling.ts
  src/utils/backoff.test.ts
  src/utils/backoff.ts
Due: prettier --write, eslint --fix

feat: add exponential backoff with jitter to polling loops (#708)
  src/components/production-line/use-heartbeat.test.ts
  src/components/production-line/use-heartbeat.ts
  src/components/production-line/use-line-polling.test.ts
  src/components/production-line/use-line-polling.ts
  src/utils/backoff.test.ts
  src/utils/backoff.ts
Due: prettier --write, eslint --fix

fix: enable Join button for the initially selected line (#612)
  src/components/user-settings-form/user-settings-form.test.tsx
  src/components/user-settings-form/user-settings-form.tsx
Due: prettier --write, eslint --fix

fix: enable Join button for initially selected line (#709)
  src/components/user-settings-form/user-settings-form.test.tsx
  src/components/user-settings-form/user-settings-form.tsx
Due: prettier --write, eslint --fix

fix: add videoInput and hasVideo to test fixtures after merge
  src/components/production-line/use-heartbeat.test.ts
  src/components/production-line/use-line-polling.test.ts
Due: prettier --write, eslint --fix

fix: vertically center icon and line name
  src/components/production-list/production-list-components.ts
Due: prettier --write, eslint --fix

fix(logger): redact SDP from debug logger output
  src/utils/logger.test.ts
  src/utils/logger.ts
Due: prettier --write, eslint --fix

fix(logger): redact SDP and internal IPs from debug logger output (#710)
  src/utils/logger.test.ts
  src/utils/logger.ts
Due: prettier --write, eslint --fix

fix: validate PORT before sed in entrypoint.sh
  scripts/entrypoint.sh
Due: none

fix: reject overflow-length PORT before numeric range test
  scripts/entrypoint.sh
Due: none

fix: validate PORT before sed in entrypoint.sh (#711)
  scripts/entrypoint.sh
Due: none

fix: update happy-dom, vite and transitive deps to resolve npm audit vulnerabilities
  package-lock.json
Due: prettier --write

fix: update happy-dom, vite and transitive deps for npm audit (#712)
  package-lock.json
Due: prettier --write

fix: pr feedback fixes
  src/components/production-line/production-line.tsx
  src/components/production-line/use-rtc-connection.ts
  src/components/production-line/use-video-input.test.ts
  src/components/production-line/use-video-input.ts
  src/components/production-line/video-element-factory.ts
Due: prettier --write, eslint --fix

fix: allow setting oneself as whep
  src/components/production-line/user-action-slots.tsx
Due: prettier --write, eslint --fix

fix: whep bug fix
  src/components/production-line/use-line-polling.test.ts
  src/components/production-line/use-line-polling.ts
Due: prettier --write, eslint --fix

feat: show reason when production delete is disabled
  src/components/delete-button/delete-button-components.ts
  src/components/production-list/manage-production-buttons.test.tsx
  src/components/production-list/manage-production-buttons.tsx
Due: prettier --write, eslint --fix

feat: show reason when production delete is disabled (#715)
  src/components/delete-button/delete-button-components.ts
  src/components/production-list/manage-production-buttons.test.tsx
  src/components/production-list/manage-production-buttons.tsx
Due: prettier --write, eslint --fix

fix(presets): store local presets in sessionStorage to limit XSS exposure
  src/hooks/use-local-presets.test.ts
  src/hooks/use-local-presets.ts
Due: prettier --write, eslint --fix

fix(docker): use multi-stage build with official node image for frontend
  Dockerfile
  scripts/entrypoint.sh
Due: none

fix(presets): use sessionStorage for local presets (#716)
  src/hooks/use-local-presets.test.ts
  src/hooks/use-local-presets.ts
Due: prettier --write, eslint --fix

fix(docker): inject runtime config via entrypoint to restore per-deployment MANAGER_URL/AUTH
  .env.local.sample
  README.md
  index.html
  public/env.js
  scripts/entrypoint.sh
  src/api/api.ts
  src/api/redirect-on-auth-failure.ts
  src/utils/generateWhepUrl.ts
  src/utils/generateWhipUrl.ts
  src/utils/runtime-config.test.ts
  src/utils/runtime-config.ts
Due: prettier --write, eslint --fix

fix(docker): multi-stage build with official node image (#717)
  .env.local.sample
  Dockerfile
  README.md
  index.html
  public/env.js
  scripts/entrypoint.sh
  src/api/api.ts
  src/api/redirect-on-auth-failure.ts
  src/utils/generateWhepUrl.ts
  src/utils/generateWhipUrl.ts
  src/utils/runtime-config.test.ts
  src/utils/runtime-config.ts
Due: prettier --write, eslint --fix

fix: use correct naming convention
  src/components/generate-urls/generate-whep-url/generate-whep-url-modal.tsx
  src/components/generate-urls/generate-whip-url/generate-whip-url-modal.tsx
  src/components/generate-urls/generate-whip-whep-url-modal.tsx
  src/utils/generate-whep-url.ts
  src/utils/generate-whip-url.ts
Due: prettier --write, eslint --fix

fix: use correct naming convention (#719)
  src/components/generate-urls/generate-whep-url/generate-whep-url-modal.tsx
  src/components/generate-urls/generate-whip-url/generate-whip-url-modal.tsx
  src/components/generate-urls/generate-whip-whep-url-modal.tsx
  src/utils/generate-whep-url.ts
  src/utils/generate-whip-url.ts
Due: prettier --write, eslint --fix

feat(auth): add global auth-failure circuit breaker to coordinate polling on 401
  src/App.tsx
  src/api/auth-circuit-breaker.test.ts
  src/api/auth-circuit-breaker.ts
  src/api/handle-fetch-request.ts
  src/components/landing-page/use-fetch-production-list.test.ts
  src/components/landing-page/use-fetch-production-list.ts
  src/components/production-line/use-heartbeat.test.ts
  src/components/production-line/use-heartbeat.ts
  src/components/production-line/use-line-polling.ts
  src/hooks/use-reauth.tsx
  src/hooks/use-websocket-reconnect.ts
Due: prettier --write, eslint --fix

feat(rtc): make WebRTC ICE servers configurable via VITE_ICE_SERVERS
  .env.local.sample
  README.md
  src/components/production-line/ice-servers.test.ts
  src/components/production-line/ice-servers.ts
  src/components/production-line/use-rtc-connection.ts
  src/vite-env.d.ts
Due: prettier --write, eslint --fix
